@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fjalla+One&display=swap');
body {
  font-family: Fira Sans;
  background: none !important;
  font-size: 0.8rem;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -99;
}

#background img {
  transition: opacity 3s ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
}

#background img+img {
  opacity: 0;
}

.jumbotron {
  margin: 0 !important;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: 500;
  font-size: 40px;
  color: #fff !important;
  padding: 0 !important;
  text-shadow: #000 1px 0 10px;
}

.navbar {
  padding: 0 !important;
  margin-left: 5px;
}

.container {
  max-width: 1600px !important;
  display: table;
  margin: 0 auto;
}

.nav-item {
  width: 500px;
  background: #282828;
  text-align: center;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-item a {
  color: #fff !important;
  font-weight: 500;
}

.nav-link.active {
  background: #93000f !important;
  border-radius: 0px !important;
}

a.nav-link.active {
  color: #ffffff !important;
}

.tab-content {
  height: 850px;
  color: #fff;
}

.inner-tabs {
  width: 100px;
  margin-left: 5px;
  float: left;
  width: 410px;
  display: flex;
}

.nav-link-inner {
  background: #282828;
  color: #fff;
  height: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 0px !important;
}

a.nav-link-inner {
  color: #fff;
  text-decoration: none;
}

.nav-link-inner.active {
  background: #fff;
  color: #000;
}

.tab-content-inner {
  width: 1145px;
  height: 750px;
  float: left;
  background: #282828ec;
  margin-left: 10px;
  padding: 10px;
}

.tab-content-inner p {
  /*height: 30px;*/
  padding-top: 1px;
}

kbd {
  background-color: #fff !important;
  color: #000 !important;
}

code {
  color: #fff;
  background: #3c3c3c;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.home-tab {
  background: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
  height: 750px;
  background-image: url(../img/home.png);
}

.home-tab img {
  width: 500px;
  float: right;
  padding: 20px;
}

.home-tab h1 {
  padding: 20px;
  font-size: 40px;
  text-transform: uppercase;
}

.home-tab h2 {
  padding: 20px;
  font-size: 20px;
  margin-top: 150px;
  text-align: center;
}

.home-tab p {
  padding: 20px;
}

.home-tab ul {
  height: 470px;
  list-style: none;
}

.discord {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discord img {
  width: 100px;
  padding: 0;
  margin-top: 5px;
}

.discord p {
  color: #7289DA;
  font-weight: 500;
  text-shadow: #000 1px 0 10px;
  padding: 0;
}

.loading {
  width: 1265px;
  position: fixed;
  top: 50%;
  flex-direction: column;
  align-items: center;
}

#cursor {
  width: 19px;
  height: 17px;
  position: fixed;
  z-index: 10000;
  overflow: visible;
  pointer-events: none;
  background: none !important;
}

.lds-loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-loader div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-loader div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-loader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-loader div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-loader {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

#exit_gui {
  width: 40px;
  height: 35px;
  background: #282828;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 1.7vh;
  font-size: 20px;
}

#exit_gui:hover {
  background: #fff;
  color: #000;
}

#musicControls {
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 270px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#previous {
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#play-pause {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#skip {
  margin-left: 5px;
  margin-right: 20px;
  cursor: pointer;
}

#mute {
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 50px;
  background: #000;
  margin-left: 5px;
  margin-right: 20px;
  justify-content: flex-end;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  border-color: #000;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  border-color: #000;
}

.slider::-moz-range-track, .slider::-moz-range-progress {
  width: 100%;
  height: 7px;
  background: black;
  border-radius: 50px;
}